
<div class="main-wrapper">
  <p id="notice"><%= notice %></p>

  <h1>Links</h1>

  <table>

    <thead>
      <tr>
        <th class="title">Title</th>
        <th class="url">Url</th>
        <th colspan="3" class="links"></th>
      </tr>
    </thead>

    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td class="title2"><%= link.title %></td>
          <td class="url2"><%= link.url %></td>
          <td class="links2"><%= link_to 'Show', link %></td>
          <% if link.user == current_user %>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <hr>
    </tbody>
  </table>
  <hr>
</div>
