
<div class= "main-wrapper">
  <p id="notice"><%= notice %></p>

  <div class= "title"
    <p>
      <strong>Title:</strong><br><hr>
      <%= @link.title %>
    </p>
  </div>

  <div class="url"
    <p>
      <strong>Url:</strong>
      <%= auto_link(@link.url) %>
    </p>
  </div>

  <div class="links">
    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', links_path %>
  </div>
</div>
